**/build/
**/managed_components/
**/sdkconfig.old
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/compile_commands.json
**/*.drawio.bkp
**/*.swp
/firmware/stm32/f411_watch/.mxproject
/learn/
